app-fab-button {

  ion-fab {
    .fab-football {
      background-image: url('../../assets/imgs/football-ball.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-color: transparent;
    }
  }
}
