.teletext_skin-theme {
  background-color: black !important;
  color: #2ac940;
  font-family: 'TIFAX Alpha', sans-serif !important;
  font-size: 20px;
  text-transform: uppercase;

  region-tab .swipeToChangeRegion{
    color: #2ac940 !important;
    font-family: 'TIFAX Alpha', sans-serif !important;
    font-size: 15px;
  }

  ion-content {
    background-color: black !important;
  }
  .allShown {
     color: #2ac940 !important;
     font-family: 'TIFAX Alpha', sans-serif !important;
     text-transform: uppercase;
   }

  .toolbar-title {
    color: #2ac940;
    font-family: 'TIFAX Alpha', sans-serif !important;
    font-size: 20px;
    text-transform: uppercase;
  }

  button {
    .item-inner {
      border-bottom: none !important;
    }
  }

  ion-navbar .toolbar-background {
    background-color: black !important;
    color: #2ac940 !important;
    font-family: 'TIFAX Alpha', sans-serif !important;
    text-transform: uppercase;
    font-size: 20px;
  }

  super-tabs {
    .toolbar-background {
      background-color: black !important;
    }

    .title {
      color: #96fdfe !important;
      font-family: 'TIFAX Alpha', sans-serif !important;
      text-transform: uppercase;
    }
  }

  ion-item .item-inner {
    border-bottom: none !important;
  }

  .item, ion-label {
    color: #96fdfe !important;
    font-family: 'TIFAX Alpha', sans-serif !important;
    font-size: 15px;
    text-transform: uppercase;
    background-color: black !important;
    h2{
      margin-top: 0!important;
    }
  }

  .toolbar-title {
    color: #2ac940 !important;
    font-family: 'TIFAX Alpha', sans-serif !important;
    text-transform: uppercase;
    font-size: 20px;
  }

  .header .toolbar-background {
    background-color: black !important;
  }

  .select-icon-inner {
    color: #96fdfe !important;
  }

  .back-button-icon {
    color: #2ac940 !important;
  }
}

