.grass_skin-theme {
  color: #fff !important;
  font-family: 'Montserrat SemiBold', serif;
  font-size: 20px;
  background-color: #09cc5c !important;

  .swipeToChangeRegion{
    color: #fff !important;
    font-family: 'Montserrat SemiBold', serif;
    font-size: 15px;
  }

  results-item {
    .item-inner {
      border-bottom: none !important;
    }

  }

  .tapToRevealScores {
    color: #fff !important;
    font-family: 'Montserrat SemiBold', serif;
    font-size: 20px;
    padding-top: 20vh;
  }

  .allShown {
    color: #fff !important;
    font-family: 'Montserrat SemiBold', serif;
    font-size: 10px;
  }

  ion-refresher {
    .refresher-refreshing-text, .refresher-refreshing-icon, .refresher-pulling-icon, .refresher-pulling-text {

      color: #fff !important;
      font-family: 'Montserrat SemiBold', serif;
      font-size: 20px;
    }
  }


  .autentication-disclaimer {
    color: #fff !important;
  }

  .list-header {
    border-top: none !important;
  }

  ion-content {
    background-color: #09cc5c !important;
  }

  button {
    .item-inner {
      border-bottom: none !important;
    }
  }

  ion-input .text-input {
    color: #fff !important;
    font-family: 'Montserrat SemiBold', serif;
    font-size: 20px;
    background-color: #09cc5c !important;
  }

  ion-footer button {
    color: #fff !important;
    font-family: 'Montserrat SemiBold', serif;
    font-size: 20px;
    background-color: #09cc5c !important;
  }


  .back-button {
    color: #fff;
  }

  .select-md .select-icon .select-icon-inner {
    color: #fff !important;
  }

  .item, ion-label {
    color: #fff !important;
    font-family: 'Montserrat SemiBold', serif;
    font-size: 20px;
    background-color: #09cc5c !important;
  }

  .toolbar-background {
    background-color: #09cc5c !important;
    color: #fff;
    font-family: 'Montserrat SemiBold', serif;
    font-size: 20px;
  }

  super-tabs {
    .toolbar-background {
      background-color: #09cc5c !important;
    }

    .title {
      color: #fff !important;
      font-family: 'Montserrat SemiBold', serif;
      font-size: 15px;
    }
  }

  .toolbar-title {
    color: #fff;
    font-family: 'Montserrat SemiBold', serif;
    font-size: 20px;
  }

  .header .toolbar-background {
    background-color: #09cc5c;
  }
}
